@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { background: #151d24; }
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #1c2730; }
::-webkit-scrollbar-thumb { background: #22ff99; border-radius: 2px; }
